.cards {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.card {
  width: 100%;
  margin-right: 15px;
}

.card__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.text {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}
