.tour__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #202020;
  margin-bottom: 15px;
}

.tour__select {
  background-color: #fff;
  padding: 33px 39px 48px;
}

.all__countries {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.select__all {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #202020;
  margin-right: 15px;
}

.member__name {
  height: 45px;
  border-radius: 40px !important;
}

.card {
  padding: 30px;
  background-color: #fff;
}

.room__name {
  height: 45px;
  border-radius: 40px !important;
  margin-bottom: 20px;
}

.text {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}
