.table__title {
  font-weight: bold;
  font-size: 16px;
  color: #202020;
}

.table {
  box-shadow: 3px 3px 10px rgba(200, 200, 200, 0.25);
  border-radius: 5px;
  padding: 20px 0;
  background-color: white;
}
