.card {
	background-color: #fff;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	margin-bottom: 10px;
}

.section:first-of-type span {
	display: block;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	color: #656565;
}

.card p {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #202020;
}

.name {
    font-weight: bold;
    color: #000;
}

.room {
    color: #119C51;
    margin-left: 10px;
    font-weight: bold;
}

.card__button {
    width: 100%;
}
.card__button:first-of-type {
    margin-bottom: 10px;
}