.prises {
  padding: 40px 0 30px;
}

.title {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #119c51;
  margin-bottom: 40px;
}

.prise__item {
  text-align: center;
}

.prise__text {
  margin-top: 14px;
  font-size: 13px;
  line-height: 16px;
  color: #202020;
}


@media (max-width:480px) {
  .title {
    font-size: 28px;
    text-align: center;
  }

  .prise__text {
    font-size: 14px;
  }
}
