.title {
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	color: #119c51;
	margin-bottom: 24px;
}

#world__turnir {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

#country__turnir {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

#country__turnir .card {
	max-width: 100%;
}

#world__turnir .card {
	max-width: 50%;
}
