.block {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  color: white !important;
}

.blockCard {
  text-align: center;
}


@media (max-width:480px) {
  .blockCenter {
      justify-content: center;
  }

  .title {
    text-align: center;
  }

  .blockLeft {
    margin-left: 30px !important;
  }
}