.card {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    margin-bottom: 15px;
}

.section {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.name {
	font-size: 18px;
	line-height: 21px;
	color: #202020;
    margin-left: 10px;
}

.members {
	font-size: 14px;
	line-height: 17px;
	color: #c4c4c4;
    margin-right: 20px;
}

.section button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
