.header {
    width: 100%;
    padding: 15px 0 11px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
}

.header__container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.item:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

