.item {
	padding: 22px 47px;
	background-color: #fff;
}

.text {
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}

.money {
	font-weight: bold;
	font-size: 28px;
	line-height: 33px;
    margin-top: 5px;
}

.basketball {
    color: #ff5f23;
}

.hockey {
    color: #1779C0;
}