.container {
  background-color: #fff;
  padding: 29px 59px 39px;
}

.text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #202020;
  max-width: 733px;
  margin: 0 auto 30px;
}

.wrapper {
  max-width: 300px;
  margin: 0 auto;
}

.wrapper input {
  height: 54.69px;
  border: 1px solid #cacaca;
  box-sizing: border-box;
  border-radius: 40px;
  padding: 20px;
  font-size: 16px;
  line-height: 19px;
  color: #222;
}

.check {
  font-size: 12px;
  line-height: 15px;
  color: #202020;
  margin-left: 10px;
}
