.footerContent {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
  color: #202020;
}

.list__item {
  list-style-type: none;
  font-size: 16px;
  line-height: 30px;
  color: #202020;
}
